@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'CookieRun';
  src: url("/src/assets/font/CookieRun-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'CookieRun';
  font-weight: bold;
  src: url("/src/assets/font/CookieRun-Bold.ttf") format("truetype");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  font-family: "CookieRun", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.curved-edge {
  --c: 70px; /* control the curvature (works with percentage) */
  height: 1rem;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(50% 0.75rem at bottom,#0000 calc(100% - 2px),#000);
  background: #ffffff70;
}

.curved-edge-bottom {
  --c: 70px; /* control the curvature (works with percentage) */
  height: 1rem;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(50% 0.75rem at top,#0000 calc(100% - 1px),#000);
  background: #056ac98a;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
